body {
    background: url("../img/scenery.jpg") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-box {
    background: rgba(255, 255, 255, 0.5);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 20rem;
}

.login-box {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(97, 91, 91, 0.3);
    margin-top: 3rem;
    display: none;
}

#adminLog {
    width: 100%;
    margin-top: 10px;
}

#admin,
#adminP {
    width: 100%;
}

#userLog {
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}